<BackendListener guiclass="BackendListenerGui" testclass="BackendListener" testname="Backend Listener" enabled="true">
        <elementProp name="arguments" elementType="Arguments" guiclass="ArgumentsPanel" testclass="Arguments" enabled="true">
          <collectionProp name="Arguments.arguments">
           <elementProp name="cw.timestamp" elementType="Argument">
              <stringProp name="Argument.name">cw.timestamp</stringProp>
              <stringProp name="Argument.value">yyyy-MM-dd&apos;T&apos;HH:mm:ss.SSSZZ</stringProp>
              <stringProp name="Argument.metadata">=</stringProp>
            </elementProp>
            <elementProp name="cw.bulk.size" elementType="Argument">
              <stringProp name="Argument.name">cw.bulk.size</stringProp>
              <stringProp name="Argument.value">25</stringProp>
              <stringProp name="Argument.metadata">=</stringProp>
            </elementProp>
            <elementProp name="cw.timout.ms" elementType="Argument">
              <stringProp name="Argument.name">cw.timout.ms</stringProp>
              <stringProp name="Argument.value">200</stringProp>
              <stringProp name="Argument.metadata">=</stringProp>
            </elementProp>
            <elementProp name="cw.sample.filter" elementType="Argument">
              <stringProp name="Argument.name">cw.sample.filter</stringProp>
              <stringProp name="Argument.value"></stringProp>
              <stringProp name="Argument.metadata">=</stringProp>
            </elementProp>
            <elementProp name="cw.test.mode" elementType="Argument">
              <stringProp name="Argument.name">cw.test.mode</stringProp>
              <stringProp name="Argument.value">info</stringProp>
              <stringProp name="Argument.metadata">=</stringProp>
            </elementProp>
            <elementProp name="cw.parse.all.req.headers" elementType="Argument">
              <stringProp name="Argument.name">cw.parse.all.req.headers</stringProp>
              <stringProp name="Argument.value">false</stringProp>
              <stringProp name="Argument.metadata">=</stringProp>
            </elementProp>
            <elementProp name="PipelineName" elementType="Argument">
              <stringProp name="Argument.name">PipelineName</stringProp>
              <stringProp name="Argument.value">${__P(PipelineName, &quot;not set&quot;)}</stringProp>
              <stringProp name="Argument.metadata">=</stringProp>
            </elementProp>
          </collectionProp>
        </elementProp>
        <stringProp name="classname">io.github.dhart-ebsco.jmeter.backendlistener.cloudwatch.CloudWatchBackendClient</stringProp>
      </BackendListener>